body {
    background: #0b1220;
    color: white;
}

.cyber-card {
    background: #111827;
    border: 1px solid #1f2937;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
}

.cyber-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.3);
}

.card-title {
    font-size: 18px;
    color: #38bdf8;
}

.card-number {
    font-size: 35px;
    font-weight: bold;
}

.status-safe {
    color: #22c55e;
}

.status-danger {
    color: #ef4444;
}
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #1f2937;
}